{% extends 'base.html' %}
{% block content %}

<h1>All Snacks</h1>

<ul style="list-style-type: none;">
  {% for object in object_list %}
  <a href="{% url 'snack_detail' object.id %}" style="text-decoration: none;">
    <div class="card">
      <li class="card-title" style="font-weight: bold;">{{ object.name }}</li>
      <label>Description:</label>
      <li>{{ object.description }}</li>
      <li>Prepartion Time: {{ object.prep_time }} Minutes</li>
    </div>
  </a>
  {% endfor %}
  </ul>

{% endblock %}